<div ng-controller="ToDosCtrl">
  <h2>My ToDo List</h2>


  <div todo-item todo="newTodo" new="true"></div>
  <hr/>
  <div id="todos" ng-repeat="todo in todos">
    <div todo-item todo="todo"></div>
  </div>

</div>
