<%- unless signed_in? %>
  <div class="jumbotron text-center">
    You need to
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
    or
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
    before continuing
  </div>
<%- else %>
  <%= render 'todos' %>
<%- end %>

